.SingUpPageContainer {
  background-color: var(--color-light-gray-3);
  display: flex;
  flex-direction: column;
}

.Line {
  border: 1px solid var(--color-light-gray-2);
  margin: 8px 0px 32px 0px;
}

.SingUpPageContaine_Form {
  flex: 1;
  max-width: 70%;
  margin: auto;
  padding: var(--spacing-medium) 0;
}

h1 {
  display: block;
  color: var(--color-dark-gray);
  font-size: 32px;
  margin-bottom: 20px;
}

.SingUpPageContaine_Form__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing-large);
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
  box-shadow: 0px 0px 20px 12px rgb(177 177 177 / 20%);
}

.SingUpPageFormButton {
  display: flex;
  flex-direction: column;
  padding: 30px 0px 30px 0px;
  max-width: 700px;
  justify-content: center;
}

.NewsLetter input {
  width: 18px;
  height: 18px;
}

.NewsLetter input:checked {
  width: 18px;
  height: 18px;
}

.NewsLetter {
  color: #f72585;
  margin: 10px;
  font-size: var(--spacing-normal);
}

@media (max-width: 600px) {
  .SingUpPageContainer {
    flex-direction: column;
  }
  .SingUpTitle h1 {
    text-align: center;
  }
  .SingUpPageForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-large);
    background-color: #ffffff;
    border-radius: 24px 24px 0px 0px;
    box-shadow: 0px 0px 20px 12px rgb(177 177 177 / 20%);
  }
}
