:root {
  --color-dark-gray: #1f1f1f;
  --color-dark-gray-2: #474747;
  --color-dark-gray-3: #666666;
  --color-light-gray: #8f8f8f;
  --color-light-gray-2: #cccccc;
  --color-light-gray-3: #f5f5f5;
  --color-white: #ffffff;
  --color-primary: #c92071;
  --color-secondary: #b5b6f2;
  --color-tertiary: #991956;
  --color-error: #ee4266;
  --color-success: #52ca76;
  --color-warning: #f6aa1c;
  --color-primary-gradient: linear-gradient(#c92071, #edabca);
  --color-secondary-gradient: linear-gradient(#b5b6f2, #efefff);

  --spacing-tiny: 4px;
  --spacing-smaller: 8px;
  --spacing-small: 12px;
  --spacing-normal: 16px;
  --spacing-medium: 24px;
  --spacing-large: 32px;
  --spacing-huge: 48px;
  --spacing-massive: 64px;

  --fonte-inter: 'Inter';
}

body {
  width: 100%;
  font-family: var(--fonte-inter);
  background-color: var(--color-light-gray-3);
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}
