.PrimaryButton {
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--spacing-smaller);
    color: var(--color-white);
    cursor: pointer;
    padding: var(--spacing-small) var(--spacing-large);
    transition: background-color .5s ease;
}

.PrimaryButton:hover:not(.disabled) {
    background-color: var(--color-tertiary);
}

.disabled {
    background: var(--color-light-gray-2);
    cursor: not-allowed;
}


@media (max-width: 768px) {
    .PrimaryButton {
        width: 100%;
    }
}