@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.LoginPageContainer {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-light-gray-3);
  display: flex;
  flex-direction: column;
}

.Line {
  border: 1px solid var(--color-light-gray-2);
  margin: 8px 0px 32px 0px;
}

.LoginTitle {
  width: 100%;
  max-width: 700px;
  display: block;
  margin: auto;
  padding: 20px 0;
}

.HeaderLogin {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

.LoginTitle h1 {
  display: block;
  color: var(--color-dark-gray);
  font-size: 32px;
  margin-bottom: 20px;
}

.LoginPageForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing-large);
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
  box-shadow: 0px 0px 20px 12px rgb(177 177 177 / 20%);
}

.LoginPageForm h1 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 2.3em;
}

.LoginPageForm p {
  display: inline-block;
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

.LoginPageForm input {
  padding: 15px;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;
  color: var(--color-light-gray);
  background-color: var(--color-light-gray-3);
}

.LoginPageForm input:focus {
  border: 1px solid #f72585;
}

.LoginPageForm label {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-dark-gray-2);
}

.LoginPageForm a {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 13px;
  color: #555;
  transition: all linear 160ms;
}

.LoginPageForm a:hover {
  color: var(--color-primary);
}

.LoginPageFormItem {
  display: grid;
}

.LoginPageFormButton {
  display: flex;
  flex-direction: column;
  padding: 30px 0px 30px 0px;
  max-width: 700px;
  justify-content: center;
}

.NewsLetter input {
  width: 18px;
  height: 18px;
}

.NewsLetter input:checked {
  width: 18px;
  height: 18px;
}

.NewsLetter {
  color: #f72585;
  margin: 10px;
  font-size: var(--spacing-normal);
}

@media (max-width: 600px) {
  .LoginPageContainer {
    flex-direction: column;
  }
  .LoginTitle h1 {
    text-align: center;
  }
  .LoginPageForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-large);
    background-color: #ffffff;
    border-radius: 24px 24px 0px 0px;
    box-shadow: 0px 0px 20px 12px rgb(177 177 177 / 20%);
  }
}
