.ContainerCollectionIconsList {
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    gap: var(--spacing-small)
}


@media (max-width: 768px) {
    .ContainerCollectionIconsList {
        overflow-x: scroll;
        width: 100%;
    }
}