.ShoppingCarIcon {
  position: relative;
  color: var(--color-primary);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.ShoppingCarIconVetor {
  width: 80%;
  height: 100%;
}

.ContainerQuantityOfItems {
  position: absolute;
  top: 3px;
  right: 0;
  background-color: var(--color-primary);
  color: var(--color-white);
  text-align: center;
  display: flex;
  flex-direction: column;
  min-width: 10px;
  min-height: 10px;
  padding: 2px;
  border-radius: 100%;
  font-size: 0.6rem;
}
