footer {
    background-color: var(--color-dark-gray);
    padding: var(--spacing-medium) var(--spacing-massive);
}

.FootercContainer {
    display: flex;
    justify-content: space-around;
    gap: 0 var(--spacing-normal);
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.FooterMainContainer {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    margin: var(--spacing-small)
}

.FooterMainContainer_p {
    color: var(--color-white);
}

.SocialMedias {
    display: flex;
    gap: 33px;
}

.icon {
    width: 20px;
    height: 20px;
    color: var(--color-white);
    cursor: pointer;
    transition-duration: 0.3s;
}

.icon:hover {
    scale: 1.1;
    color: var(--color-primary);
}


.FooterLinksContainer {
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.LinksSection {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
}

.ListLinksIten {
    margin: var(--spacing-small) 0;
}

.contato {
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.CopyrightMSG {
    width: 100%;
    padding: var(--spacing-small) 0 ;
    padding-top: 20px;
    border-top: 1px solid var(--color-white);
    color: var(--color-white);
    text-align: center;
}

@media (max-width: 768px) {

    footer {
        padding: var(--spacing-large) var(--spacing-smaller);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-normal);
    }

    .FootercContainer {
        flex-direction: column;
        gap: var(--spacing-normal);
    }
    
    .FooterMainContainer, .FooterLinksContainer {
        width: 100%;
    }
    
    .FooterLinksContainer {
        flex-wrap: wrap;
        justify-content: start;
    }

    .icone {
        width: 25px;
        height: 25px;
        border-radius: 4px;
    }
}