.slideShowcarouselContainer {
  background-color: var(--color-black-15);
  z-index: 0;
}

.bubles {
  position: absolute;
  right: var(--spacing-normal);
  top: var(--spacing-massive);
}

.firstContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  position: relative;
}

.firstContent span {
  flex: 1;
}

.hero {
  padding-bottom: 50px;
  flex: 1;
}

.firstContent div h5 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.75px;
  text-align: left;
  margin-bottom: 20px;
  color: var(--color-warning);
}

.firstContent div h3 {
  font-family: "Inter", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: 1px;
  margin-bottom: 20px;

  color: var(--color-gray-dark);
}

.firstContent div p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.75px;
  text-align: left;
  margin-bottom: 20px;
  color: var(--color-gray-dark2);
}

.firstContent div button {
  border: 0;
  text-align: center;
  display: inline-block;
  padding: 14px;
  width: 228px;
  height: 48px;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  transition: box-shadow 200ms ease-out;
  cursor: pointer;
}

.firstContent div button:hover {
  background-color: var(--color-tertiary);
  color: var(--color-white);
}

.firstContent span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-basis: 50%;
  transform: rotate(-5.343deg);
  user-select: none;
}

@media (max-width: 600px) {
  .firstContent {
    flex-direction: column-reverse;
    padding: 10px;
    text-align: center;
  }

  .firstContent div h5 {
    text-align: center;
    color: var(--color-primary);
  }

  .firstContent div p {
    text-align: center;
  }

  .swiper {
    height: auto;
  }

  .slideShowCarouselContainer {
    height: auto;
  }

  .swiperPagination {
    display: none;
  }

  .bubles {
    right: -75px;
  }
}
