.TextLink,
.TextLinkSecondary {
  color: var(--color-dark-gray-2);
  border-bottom: 2px solid transparent;
  max-width: fit-content;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: border-bottom 0.5s;
}

.TextLink:hover {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  cursor: pointer;
}

.TextLinkSecondary {
  border-bottom: 2px solid;
}

.TextLinkTertiary {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 200;
  transition: color 0.5s;
}

.TextLinkTertiary:hover {
  color: var(--color-primary);
}
