.TextLink {
    color: var(--color-dark-gray-2);
    border-bottom: 2px solid transparent;
    max-width: fit-content;
    margin: 0;
    padding: 0;
}

.TextLink:hover {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    cursor: pointer;
}

.TextLinkSecondary {
    color: var(--color-dark-gray-2);
    border-bottom: 2px solid ;
    cursor: pointer;
    width: fit-content;
    text-align: center;
    margin: var(--spacing-small) auto;
}